:root {
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --notblack: #212121;
  --notwhite: #f5f4fa;
  --footerlinks: #ffffff99;
  --productborder: #eeeeee;
  --iconcolor: #afb1b8;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--grey);
  background-color: var(--white);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
/* header */
.header {
  border-bottom: 1px solid #ececec;
  margin: 0px;
  height: 80px;
}
.header-style {
  display: flex;
  padding-left: 15px;
}
.logo-navigate-box {
  position: absolute;
  display: flex;
  gap: 93px;
  top: 24px;
}
.logo-style {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--black);
}
.blue-text {
  color: var(--blue);
}
.blue-text:hover,
.blue-text:focus {
  color: var(--blue);
}
.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  transform: translateY(31px);
  border-radius: 2px;
}
.navigate-list {
  display: flex;
  gap: 46px;
  margin: 0;
  align-items: center;
}

.link-style {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14285714;
  color: var(--notblack);
}
.navigate-enter-item {
  color: var(--blue);
}
.contact-style {
  gap: 30px;
  display: flex;
  margin: 0;
  right: 50px;
  top: 100px;
  list-style: none;
  justify-content: flex-end;
}
.contact-link-style {
  color: var(--grey);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14285714;
  margin: 30px;
}
.icons-header {
  fill: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-header:focus,
.icons-header:hover {
  fill: var(--blue);
}
.icon-header {
  margin-right: 10px;
}
/* top-section */
.top-section {
  background-color: var(--darkgrey);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/background-image.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.top-section-text {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 200px 0 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  margin: 0;
}
.top-section-button {
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--blue);
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

/* top section portfolio */
.portfolio-top-section {
  margin: 94px 215px;
}
.top-section-list {
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 94px 318px 50px 310px;
  margin: 0px;
}
.button-portfolio {
  background-color: var(--notwhite);
  border-width: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  border-radius: 3px;
  padding: 6px 22px;
  font-family: "Roboto";
  cursor: pointer;
}
.blue-background:hover {
  background-color: var(--blue);
  color: var(--white);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  border-radius: 4px;
}
/* portfolio project */
.project-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0px;
  list-style: none;
  padding: 0 0px 94px;
}
.portfolio-list {
  border-bottom: 1px solid var(--productborder);
  position: relative;
  width: 370px;
  height: 404px;
}
.project-title {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--notblack);
  margin: 0px;
  padding: 20px 24px 4px 24px;
  text-align: left;
}
.project-description {
  font-size: 16px;
  line-height: 1.875;
  color: var(--grey);
  margin: 0px;
  padding: 0px 24px 20px 24px;
}
.description-info {
  position: absolute;
  width: 100%;
  height: 294px;
  overflow: hidden;
}
.description-animation {
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  position: relative;
}
.description-text {
  margin: 0;
  padding: 49px 45px 49px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white);
}
.portfolio-list:hover .description-animation {
  transform: translateY(0%);
}
.portfolio-list:focus,
.portfolio-list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* speciality */
.speciality-header {
  color: var(--notblack);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  margin: 0px auto;
}
.speciality-text {
  line-height: 1.71428571;
  color: var(--grey);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 3px;
}
.speciality-list {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 94px 15px;
}
.icons-box {
  background-color: var(--notwhite);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.icons-speciality {
  margin: 25px 100px;
}
/* service */
.service-header {
  color: var(--notblack);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  margin: 0 auto;
  padding: 0 424px 50px;
}
.service-list {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 0 15px 94px;
}
.figure {
  margin: 0;
}
.image-size {
  width: 370px;
  height: 294px;
}

.image-description {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142857143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0px;
  background-color: rgba(47, 48, 58, 0.8);
  position: relative;
}
/* team */
.team-background {
  background-color: var(--notwhite);
}
.team-header {
  color: var(--notblack);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  margin: 0;
  padding: 94px 495px 50px;
}
.team-list {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 0 15px 94px;
}
.team-item {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--notblack);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  margin: 0;
  padding: 30px 99px 10px;
}
.team-card {
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.1875;
  margin: 0 auto;
  padding-bottom: 30px;
}
.team-card-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.team-card-icon {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  fill: var(--iconcolor);
}
.team-card-icon:focus,
.team-card-icon:hover {
  fill: var(--white);
  background-color: var(--blue);
}
/* nasi klienci */
.our-clients-header {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--notblack);
  padding-top: 94px;
  padding-bottom: 50px;
}
.our-clients-list {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 0 0 94px 0;
}
.our-clients-logo {
  border-radius: 4px;
  border: var(--iconcolor) solid 1px;
  width: 170px;
  height: 92px;
  fill: var(--iconcolor);
}
.our-clients-logo:hover,
.our-clients-logo:focus {
  fill: var(--blue);
  border: var(--blue) solid 1px;
}
/* footer */
.footer {
  background-color: var(--darkgrey);
}
.footer-box {
  display: flex;
}
.footer-style-logo {
  padding-top: 66px;
  padding-bottom: 62px;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  color: var(--white);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19230769;
  letter-spacing: 0.03em;
  margin: 0px;
}
.footer-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding-left: 0px;
  gap: 9px;
  padding-top: 20px;
  font-style: normal;
  color: var(--white);
  margin: 0;
}
.address-link {
  color: var(--footerlinks);
}
.footer-social-section {
  padding-top: 72px;
  padding-left: 70px;
}
.footer-social-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
  padding-bottom: 20px;
}
.social-icon-footer {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--white);
}
.social-icon-footer:focus,
.social-icon-footer:hover {
  background-color: var(--blue);
}
.newsletter-form {
  margin-top: 72px;
  padding-left: 77px;
}
.newsletter-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}
.newsletter-box {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--darkgrey);
  outline: none;
  padding-left: 10px;
  padding-right: 20px;
  color: var(--white);
}
.newsleter-order-section {
  display: flex;
  margin-top: 20px;
}
.newsletter-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--white);
  margin-left: 12px;
  cursor: pointer;
}
.newsletter-button-space {
  padding-right: 20px;
  padding-left: 4px;
}
.newsletter-button-icon {
  width: 24px;
  height: 24px;
  fill: var(--white);
}
.newsletter-button:hover {
  background-color: #1a78c2;
}
.newsletter-button:active {
  background-color: #135a91;
}
/* backdrop */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition-property: opacity;
  transition: ease-in-out;
  transition-duration: 250ms;
}
.backdrop:active {
  opacity: 1;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white);
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--white);
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
}
.close-modal-button {
  width: 18px;
  height: 18px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  justify-content: center;
  color: #212121;
  padding-top: 40px;
}
.modal-text {
  display: flex;
  flex-direction: column;
  width: 448px;

  margin: 2px auto 0px;
}
.label-boxes {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--grey);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 4px;
}
.label-box {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  outline: none;
  padding: 0 42px;
}
.label-boxes:active + svg,
.label-boxes:focus + svg {
  fill: var(--blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-boxes:hover {
  border: 1px solid var(--blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-boxes:active,
.label-boxes:focus {
  border: 2px solid var(--blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 41px;
}
.modal-box-text {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--grey);
  outline: none;
  resize: none;
}
.modal-box-text:hover {
  border: 1px solid var(--blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box-text:active,
.modal-box-text:focus {
  border: 2px solid var(--blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 11px 15px;
}
.modal-checkbox {
  display: flex;
  flex-direction: row;
  margin: 20px auto 30px;
  gap: 8px;
}
.checkbox-style {
  appearance: none;
  -webkit-apperance: none;
}
.laws-style {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--grey);
  position: relative;
  padding-left: 20px;
}
.laws-style::before {
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 3px;
  display: block;
  content: "";
  left: 0px;
  top: 3px;
  cursor: pointer;
}
input:checked + .tick {
  display: block;
  fill: var(--white);
  border: none;
  background-color: var(--blue);
  border-radius: 3px;
  cursor: pointer;
}
.tick {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  top: 3px;
  display: none;
}
.law-text {
  color: var(--blue);
  text-decoration: underline;
}
.law-text:hover {
  text-decoration-thickness: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-button {
  border: 0px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  color: var(--white);
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  border-color: var(--blue);
}
.submit-button:hover {
  background-color: #1a78c2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-button:active {
  background-color: #135a91;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icons {
  fill: var(--notblack);
  width: 20px;
  height: 18px;
  position: absolute;
}
.icon-vector {
  top: 109px;
  left: 55px;
}
.icon-phone {
  top: 178px;
  left: 55px;
}
.icon-vector-1 {
  top: 245px;
  left: 52px;
}
/* end section of backdrop */
